.container{
    background-color: cornflowerblue;
}

.container .block{
    margin:50px;
    padding:50px;
    background-color: white;
}
.container {
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows:1fr 1fr 1fr;
}