.block {
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}
main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
    column-gap: 8px;
}
.block1 {
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #b6366a;
}
.block2 {
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #726ea6;
}
.block3 {
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #7d8dc2;
}
.block4 {
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #a1d2da;
}
@media screen and (min-width: 320px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 8px;
    }
    .block1 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block2 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block3 {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 3;
         grid-row-end: 4;
     }
    .block4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
@media screen and (min-width: 772px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .block1 {
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block2 {
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .block3 {
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block4 {
        grid-row-start: 4;
        grid-row-end: 5;
    }
}
@media screen and (min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .block1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .block2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    .block4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}