body {
    font-family: Helvetica;
}
h1 {
    font-size: 80px;
    color: #EDF2F4;
}
h2 {
    font-size: 40px;
    color: #EDF2F4;
}
a {
     color: #EF233C;
 }
header p, footer p {
    color: #8D99AE;
}
header, footer {
    background-color: #2B2D42;
}
main {
    background-color: #8D99AE;
}
header {
    margin-bottom: 10px;
}
footer {
    margin-top: 10px;
}
header, footer, main {
    padding: 30px;
}
