html {
    background-color: #333;
    font-family: helvetica, sans-serif;
}

* {
    padding: 10px;
}

header, footer {
    background-color: #ddaa00;

}

header a:link, footer a:link {
    color: #ddaa00;
}

nav {
    background-color: #ccc;
    padding: 5px 2px;
    display: flex;
}

main {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

body {
    font-size: 1em;
    margin: 5px;
}

section {
    margin: 5px;
    background-color: white;
}

nav > a {
    background-color: white;
    color: #ddab00;
    border: 1px solid black;
    margin: 0 5px;
    flex: 1;
    text-align: center;
    text-decoration: none;
}

section > a {
    border: #333333 1px solid;
    text-decoration: none;
    color: grey;
    text-align: center;
}

img {
    padding: 0px;
}

@media screen and (min-width: 700px){
    main {
        flex-direction: row;
    }
}