section > header{
    background-image: url(../Images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: auto;
    color: #ffffff;
}
nav > a {
    color: #4fe787;
    text-decoration: none;
}
nav {
    background-color: #444444;
}
h2 {
    color: #434443;
    text-decoration: underline;
}
article {
    background-color: #eeeeee;
}
body {
    margin: auto;
    width: 95%;
    font-family: Verdana;
}
article {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}