body > img {
    height: 250px;
    width: 220px;
    padding-left: 20px;
}
table {
    width: 100%;
    height: 100%;
    border: black solid 1px;
    text-align: center;
    border-radius: 5px;
    Cellpading: 3px;
}
td, th {
    border-right: black solid 1px;
}
th {
    border-bottom: black solid 1px;
    font-family: Times New Roman;
    background-color: beige;
}
td {
    font-family: Arial;
    background-color: #fbfff1;
    color: #4c463a;
}
tfoot > tr > td {
    border-top: black solid 2px;
    font-size: 12px
}
.onbekend{
    background-color: #ff0000;
}