body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    margin: auto;
    text-align: center;
}
header {
    background-image: url("../Images/PositionerenImages/bgsky3.jpg");
    background-size: cover;
    height: 200px;
    position: relative;
}
header p {
    text-align:  center;
    color: darkblue;
}
.headerTitel {
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
}
.headerOnderTitel {
    font-size: 2.4em;
    font-weight: bold;
    margin: 0;
}
.tekKlein {
    position: absolute;
    right: 250px;
    bottom: 60px;
    z-index: 10;
}
/*___________________________NIEUWS GEDEELTE____________________________*/
.news {
    box-sizing: border-box;
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    color: #666666;
    font-size: 0.9em;
    margin: 10px;
}
.news h3 {
    color: white;
    background-color: blue;
    font-size: 1.2em;
}
.mainTekstMetLogo {
    width: 75%;
    margin-right: 10px;
}
.tekstIntroductie {
    background-color: white;
    color: black;
    text-align: justify;
}
.tekstIntroductie p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}
.tekstIntroductie span {
    color: blue;
    font-style: italic;
    font-weight: bold;
}
.tekstIntroductie img {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.mainTekstMetLogo div > p:before {
    content: url("../../../Webdevelopment/Labo_9/Images/PositionerenImages/airbus_logo.jpg");
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 20px;
}
/*_____________________________GALERIJ_________________________*/
.galerij {
    background-color: #999999;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
}
.galerij img {
    width: 180px;
    height: 180px;
    display: block;
    object-fit: cover;
}
.afbeeldingInGalerij {
    background-color: white;
    padding: 10px;
    border: 1px dashed #999999;
    box-sizing: content-box;
}
/*____________________________ONDERSTE STUK_____________________________*/
.manchester {
    display: inline-block;
}
.documentary {
    display: inline-block;
}
.bottom {
    background-color: #666666;
    color: white;
    line-height: 2em;
    padding-left: 120px;
    text-align: left;
}
.bottom a:hover {
    color: red;
}
.bottom a {
    color: white;
}
.copyright{
    background-color: white;
    color: black;
}