h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: "Times New Roman", Helvetica, sans-serif;
    color: #4c463a;
    background-color: #fbfff1;
}

h2 {
    font-weight: bold;
    font-style: italic;
}

.foto {
    width: 450px;
    height: auto;
    display: inline-block;
}

/* De algemene div { display: inline-block; } is hier veilig verwijderd! */

div p {
    font-style: italic;
    text-align: center;
    align-content: center;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Standaard link kleur */
a:link {
    color: blue; /* Of kies je eigen hex-kleur */
    text-decoration: underline;
}

/* Kleur nadat er op geklikt is (de bezocht-status) */
a:visited {
    color: purple; /* Dit brengt de klassieke paarse kleur terug */
}

/* Kleur als je er met de muis overheen zweeft */
a:hover {
    color: rgb(95, 179, 126); /* Bijvoorbeeld rood voor een leuk effect */
}

/* Kleur op het exacte moment van klikken */
a:active {
    color: red;
}